@charset "UTF-8";
/* CSS Document */
* {margin:0; padding:0;}
body {
	font-family: "Open Sans", "Avenir Next", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #818181;
}

header {
   /*position:relative;*/
   left: 0;
   top: 0;
   width: 100%;
   height: 140px;
   background-color: #F8F8F4;
}

  .view1, .view2{
	width: 1000px;
	height: 140px;
	margin:0 auto;
  }

a {text-decoration: none;}

.view1 a {width:280px; float: left; border-right: #BBB7B7 2px solid; line-height: inherit; margin-top: 20px;}
.view1 #labname {float: left; margin: 20px; margin-top: 0px; width: 600px;}


  #logo {
	 width:247px;
	 height:80px;
	  padding-top: 20px;
	
  }
  
#labname {font-family:"Franklin Gothic Bold", Haettenschweiler, "Arial Black", "sans-serif", Impact; font-size: 20px; color: #BBB7B7; margin: 10px 0; margin-bottom: 20px;}

nav {
	height: 40px;
	background-color: #A2CFC9;
}
  .navitems {
	  box-sizing: border-box;
	  width:1000px; 
	  height: 40px;
	  margin: auto;
	  
   }

	.navitems a {font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; color: #FFFFFF; margin-right: 50px; font-size: 16px; line-height: 40px; padding-bottom: 8px;}
	.navitems a:hover {color: #BBB7B7; border-bottom: #BBB7B7 solid 3px;}


.content {
	width:1000px; 
	margin:0 auto;
	height:auto;
}

/*home/index page*/
#container {width: 800px; height: 350px; margin: 30px 0; }

@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  85%{
    left: -300%;
  }
  90%{
    left: -400%;
  }
  100%{
    left: -400%;
  }
}

#slider{
  overflow: hidden;
}

#slider figure img{
  width: 20%;
  float: left;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

  .banner {width: 100%; height: 385px; padding: 30px 0;}
  .bannerimage {width: 70%; height: 385px;}
  .imagedescription {float: right; width: 30%;box-sizing: border-box;background-color: #D8D8D8; height: 385px; padding: 60px     40px;}
  .imagedescription h4 {font-size: 20px; line-height: 60px;}

 .about {
	width: 70%; height: auto; float: left; padding-bottom: 50px;
 }

  .about h3 {color: #A2CFC9; line-height: 50px;}
  .about p {
	font-size: 16px;
	margin: 0 60px 0 0;
	text-align: justify;
}

 .news {
	width: 30%; height: auto; float: right; padding-bottom: 50px;
  }
  .news h3 {color: #A2CFC9; line-height: 50px;}
  .news p {
	font-size: 16px;
	text-align: justify;
}

.clearfix {zoom: 1;}
.clearfix:after {content:"."; display:block; visibility: hidden; height:0; clear:both;}
/*end of home/index page*/


/*research page*/
.researchaside {
	width: 25%; float: left; margin: 40px 50px 0 0; box-sizing: border-box;
}

.navigation {
	border: #A2CFC9 double 2px; border-radius: 5px; 
	}

li {list-style: decimal; list-style-position: inside; line-height: 15px; border-bottom: #F8F8F4 solid 1px;}
.navigation a {display: inline-block; color: #BBB7B7; padding: 10px; width:99%; height: inherit;} 
.navigation li:hover {background-color: #A2CFC9;}
.navigation li a:hover {color: #FFFFFF;}
.navigation #curr {background-color: #A2CFC9;}
.navigation #curr a {color:#FFFFFF;}

.research-detail {margin-top: 40px; float: right; width: 70%; box-sizing: border-box; position: relative;}
.research-detail {margin-bottom: 40px;}
.research-detail h3 {padding-bottom: 10px;}
.research-detail h3 a {color: inherit;}
.research-detail img {width:100%; padding-top: 10px;}


.relatedpublication {margin: 40px 0;border-top: gray 2px solid;}
.relatedpublication h3 {padding-bottom: 20px;}
.relatedpublication li {line-height: normal; margin: 10px 0; font-size: 16px;}

/*end of research page*/


/*start of people page*/
.profileimg {width:200px; height:248px; display: block;}
.faculty {padding: 20px 0;}
.faculty h4 {line-height: 3em; font-size: 18px;}
.faculty img {float:left; margin-right: 40px;}
.faculty p {
	vertical-align: bottom;
	text-align: justify;
	margin-bottom: 20px;
	display: block;
}

.personfile {float:left; margin-right: 20px; padding: 10px;}

.students {padding-bottom:40px;}
.students h4 {line-height: 3em; font-size: 18px;}

/*end of people page*/

footer {
	width: 100%;
	height: 160px;
	background-color: #F8F8F4;
	border-top: #233D82 thick solid;
}
 
 .cunylogo {width:150px; margin-top: 40px;}

 .footright {
	width: 30%;
	float: right;
	margin-top: 40px;
 }

 .address {text-align: right; font-size: 12px; color: #233D82; padding: 10px 0;}
.social-media-logos {width: 123px; margin-left: auto; margin-right: 0;}
#a001githubsign {width: 21px;} 
#a002facebook {width: 21px;} 
#a003linkedin{width: 21px;}  
#a004youtube {width: 21px;} 
#a005twitter {width: 21px;} 

.wikibox {width: 71px; margin-left: auto; margin-right: 0;}
.wikibox p {text-algn: right; font-size: 12px; color: #233D82;}

@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}
